.runnerCol{
	padding: 5px !important;
}
.selectionName{
	padding: 5px !important;
	font-size: 12px;
	text-align: center;
}
.selectionOdd{
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.isFactor{
	border: 1px red solid;
}