@import "bootstrap.min.css";

*{
	box-sizing: border-box;
}
html,
body{
	margin: 0;
	padding: 0;
	background-color: #fcfcfc;
	width: 100%;
	height: 100%;
}

.bodyWrapper,#view{
	width: 100%;
	height: 100%;
	position: relative;
}

ul.events{
	li{
		&[data-active="false"]{
			a{
				color: red;
			}
		}
		&[data-correct="true"]{
			a{
				color: green;
			}
		}
	}
}

header{
	width: 100%;
	height: 50px;
	background-color: #efefef;
	border-bottom: 1px #ccc solid;
	padding: 5px;
	box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.42);
	button{
		display: inline-block;
		float: left; 
		&.startStopSession{
			width: 50px;
			height: 30px;
			border-radius: 20px;
			border: 1px #dedede solid;
			background-color: #a71919;
			transition: background-color .24s ease-in-out, opacity .24 ease-in-out;
			box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.42);
			cursor: pointer;

			span{
				width: 21px;
				height: 21px;
				border-radius: 50%;
				background-color: #dedede;
				display: block;
				position: absolute;
				left: 9px;
		    	top: 9px;
		    	transition: transform .24s ease-in-out;
			}
			&.on{
				background-color: green;
				span{
					transform: translateX(20px);
				}
			}
			&.loading{
				background-color: #ccc;
				opacity: .6;
			}
		}

		&.ping{
			margin-left: 25px;
			width: 50px;
			height: 30px;
			border-radius: 10px;
			box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.42);
		}
	}
	

	
}

button{
	border: 1px #ccc solid;
}

.popupWrap{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	.cover{
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba(0,0,0,.75);
		
	}
	.popup{
		width: 500px;
		height: 300px;
		background-color: #fff;
		position: absolute;
		left: 50%;
		margin-left: -250px;
		top: 50%;
		margin-top: -150px;
		.topBar{
			width: 100%;
			height: 50px;
			position: relative;
			span.close{
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				width: 50px;
				height: 50px;
				background-color: red;
			}
		}
	}
	&.active{
		pointer-events: all;
		opacity: 1;
	}
}
